* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body {
    background-color: lightslategray;

}
*/
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: crimson;
}

.btn {
    border: none;
    padding: 1rem 4rem;
    background: rgba(17, 17, 137, 0.824);
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
    

}